nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.85);
    color: wheat;
  }
  
  .navLinks {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  .navLinks li {
    cursor: pointer;
  }
  
  .navLinks li:hover {
    color: aliceblue;
  }
  
  .home-header {
    color: black;
  }
  
  .navStyle {
    text-decoration: none;
    color: aliceblue;
  }
  
  .navStyle:hover {
    color: wheat;
  }